<br/><br/>
<div class="row text-center">
    <div class="col-6">
        <div class="card text-white bg-dark">
            <div class="card-header">Formations</div>
            <div class="card-body">
                <h5 translate="NBR_FORMATIONS" class="card-title"></h5>
                <p class="card-text">{{formations.length}}</p>
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="card text-white bg-danger">
            <div translate="TEACHERS" class="card-header"></div>
            <div class="card-body">
                <h5 translate="NBR_TEACHERS" class="card-title"></h5>
                <p class="card-text">{{enseignants.length}}</p>
            </div>
        </div>
    </div>
</div>
<br/><br/>
<div class="row text-center">
    <div class="col-6">
        <div class="card text-white bg-warning">
            <div class="card-header">Promotions</div>
            <div class="card-body">
                <h5 translate="NBR_PROMOTIONS" class="card-title"></h5>
                <p class="card-text">{{promotions.length}}</p>
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="card text-white bg-info">
            <div class="card-header">Candidats</div>
            <div class="card-body">
                <h5 translate="NBR_CANDIDATS" class="card-title"></h5>
                <p class="card-text">{{candidats.length}}</p>
            </div>
        </div>
    </div>
</div>