<div class="container-fluid">
    <br/>
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header bg-danger text-light">
                    <strong>{{formation.nomFormation}}</strong>
                </div>
                <div class="card-body">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Code formation: {{formation.codeFormation}}</li>
                        <li class="list-group-item">Diplome: {{formation.diplome}}</li>
                        <li class="list-group-item">Nombre d'année: {{formation.n0Annee}}</li>
                        <li class="list-group-item">Debut Accreditation: {{formation.debutAccreditation}}</li>
                        <li class="list-group-item">Fin Accreditation: {{formation.finAccreditation}}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>